body
{
    background-color: #333 !important;
    color: #fff !important;
}

.navbar{

            opacity: 0.8;
            border-bottom: 3px solid #008ed6;
}


/*
        home-section
*/


#home-section
{
    background-image: url(/images/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
}

.dark-gray
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgba(0,0,0,0.8);
}

.home-inner
{
    padding-top: 150px;
}

#home-section .fa-check-square
{
    color: #008ed6;
    background-color: #fff;
    padding: 4px;
    border-radius: 4px;
}

#explore-details .fa-check-square
{
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
}

.create-detail .fa-check-square
{
    color: #333;
    background-color: #fff;
    padding: 5px;
    border-radius: 4px;
}

#main-nav
{
        border-top: 3px solid #008ed6;
        margin-top: 5rem;
}
#main-nav i
{
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
}

#contact
{
    margin-top: 10px;
    padding: 5px 20px;
}

button[data-toggle="modal"]
{
    margin: 20px 0px;
    
}